
@{
    @model IEnumerable<Mitra.Models.Product>
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h2>Product List</h2>
<a asp-action="Create" class="btn btn-primary">Add New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.CategoryId</td>
                @*@(new SelectList(ViewBag.Categories, "CategoryId", "CategoryName"))"></td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@product.ProductId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
